<div class="cart-container">
  <span class="btn btn-primary" (click)="goToHomePage()">Continue shopping</span>
  <form (ngSubmit)="checkoutCart()">
    <table class="table" id="cart-table">
      <thead>
        <tr>
          <th scope="col">Product</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <!-- <th></th> -->
          <th>Subtotal</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i = index" [attr.data-index]="i">
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td><input type="number" name="quantity" required [(ngModel)]="product.quantity" min="1"
              max="{{maxQuantity[i]}}" onkeydown="return false" (change)="calculateTotalPrice()" />
          </td>
          <!-- <td><span class="btn btn-primary">Update</span></td> -->
          <td class="sum">${{product.price*product.quantity}}.00</td>
          <td><span class="btn btn-primary" (click)="removeProductFromCart(product.id)">Delete</span></td>
        </tr>
      </tbody>
    </table>
    <span id="total">Total: ${{sum}}.00</span>
  <hr>
    <button type="submit" class="btn btn-primary btn-checkout" [disabled]="products.length==0"
      [class.disabledBtn]="products.length==0">Proceed to
      checkout</button>
  </form>
</div>
