<div [hidden]="isSubmitted">
  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="form-group">
      <label for="name">Product Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="product.name" name="name">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" required [(ngModel)]="product.description"
        name="description">
    </div>
    <div class="form-group">
      <label for="quantity">Quantity</label>
      <input type="number" class="form-control" id="quantity" required [(ngModel)]="product.quantity" name="quantity">
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" class="form-control" id="price" required [(ngModel)]="product.price" name="price">
    </div>
    <div class="form-group">
      <label for="photo">Photo</label>
      <input type="file" id="myPhoto" name="photo" required (change)="fileChangeEvent($event)">
      <div class="photo-container">
        <ng-container *ngIf="isImageSaved; else elseTemplate">
          <img [src]="cardImageBase64" />
        </ng-container>
        <ng-template #elseTemplate>
          <img src="http://placehold.it/300">
        </ng-template>

      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!form.form.valid"
      [class]="!form.form.valid ? 'button-disabled' : null">Add product</button>
  </form>
</div>
